<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Welcome to the home page!</h1>
	<p>You are logged in.</p>
	<p>To return to the login page, Press the button below</p>
	<form action="/login" method="GET">
		<button type="submit">Log out</button>
	</form>
</body>
</html>

